@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@font-face {
  font-family: "Suisse Int'l Mono";
  src: url("../fonts/suisse-intl-mono.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 16px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #101112;
}
@media (max-width: 768px) {
  body.hidden {
    overflow: hidden;
  }
}

a,
button,
input,
textarea {
  font-family: "Geist", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1104px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 80px 0 0;
}
@media (max-width: 768px) {
  .header {
    padding-top: 40px;
  }
}
.header__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__main {
    position: relative;
    z-index: 9999;
  }
}
.header__logo {
  display: inline-block;
}
.header__logo-link {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #78f7a8;
}
.header__burger {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__burger-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40px;
  padding: 0;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  border-radius: 10px;
  background-color: #d2e4ff;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  will-change: transform;
}
.header__burger-button::before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}
.header__burger-button::after {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.header__burger-button.active::before {
  -webkit-transform: translateY(1px) rotate(45deg);
          transform: translateY(1px) rotate(45deg);
}
.header__burger-button.active::after {
  -webkit-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}
.header__menu {
  margin: 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    inset: 0;
    z-index: 999;
    max-width: 100dvw;
    margin: 0;
    padding: 124px 32px 40px;
    background-color: #101112;
    -webkit-transform: translateX(120dvw);
            transform: translateX(120dvw);
    -webkit-transition: -webkit-transform ease-in-out 0.2s;
    transition: -webkit-transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
    will-change: transform;
  }
}
.header__menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 768px) {
  .header__menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
    max-height: calc(100dvh - 124px - 40px);
    height: 100%;
    overflow: auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    padding: 0;
  }
}
.header__nav-link {
  display: inline-block;
  padding: 0px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #78f7a8;
  background-color: #212a24;
}
@media (max-width: 768px) {
  .header__nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header__contacts {
  display: none;
}
@media (max-width: 768px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.header__contacts-title {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #f5f5f5;
}
.header__contacts-email-link {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #78f7a8;
}

.main {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .main {
    padding: 50px 0;
  }
}
.main > * {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .main > * {
    padding: 50px 0;
  }
}

.secure-internet__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}
@media (max-width: 1024px) {
  .secure-internet__wrapper {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .secure-internet__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.secure-internet__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 768px) {
  .secure-internet__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.secure-internet__figure-image {
  display: block;
  max-width: 100%;
  width: 220px;
  height: auto;
}
@media (max-width: 768px) {
  .secure-internet__figure-image {
    width: 193px;
  }
}
.secure-internet__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 642px;
          flex: 0 1 642px;
}
@media (max-width: 768px) {
  .secure-internet__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.secure-internet__info-title, .secure-internet__info-subtitle {
  margin: 0;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #78f7a8;
}
@media (max-width: 1024px) {
  .secure-internet__info-title, .secure-internet__info-subtitle {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .secure-internet__info-title, .secure-internet__info-subtitle {
    font-size: 50px;
  }
}
.secure-internet__info-title {
  color: #78f7a8;
}
.secure-internet__info-subtitle {
  color: #f5f5f5;
}
.secure-internet__info-description {
  margin: 40px 0 0;
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #f5f5f5;
}
@media (max-width: 768px) {
  .secure-internet__info-description {
    margin-top: 20px;
    font-size: 20px;
  }
}

.why-choose-us__title {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #f5f5f5;
}
.why-choose-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .why-choose-us__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.why-choose-us__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% + 18px);
          flex: 0 0 calc(25% + 18px);
  min-width: calc(25% + 18px);
  max-width: calc(25% + 18px);
  margin-left: -24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .why-choose-us__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: auto;
    max-width: none;
    margin-left: 0;
    margin-top: -24px;
  }
}
.why-choose-us__card:first-child {
  margin-left: 0;
}
@media (max-width: 768px) {
  .why-choose-us__card:first-child {
    margin-top: 0;
  }
}
.why-choose-us__card:nth-child(even) {
  padding-top: 164px;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(even) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
  }
}
.why-choose-us__card:nth-child(odd) {
  padding-bottom: 164px;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(odd) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
}
.why-choose-us__card-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  min-height: 280px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #101112;
  background-color: #212a24;
}
@media (max-width: 768px) {
  .why-choose-us__card-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 380px;
    min-width: 220px;
    min-height: 220px;
  }
}
@media (max-width: 576px) {
  .why-choose-us__card-content {
    max-width: calc(100% - 180px);
  }
}
.why-choose-us__card-content::before {
  content: "";
  position: absolute;
  display: block;
  width: 48px;
  height: 100px;
  border: 1px solid #78f7a8;
}
.why-choose-us__card:nth-child(1) .why-choose-us__card-content::before {
  top: calc(100% + 10px);
  right: 34px;
  border-top: none;
  border-right: none;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(1) .why-choose-us__card-content::before {
    display: none;
  }
}
.why-choose-us__card:nth-child(2) .why-choose-us__card-content::before {
  bottom: calc(100% + 10px);
  right: 34px;
  border-bottom: none;
  border-right: none;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(2) .why-choose-us__card-content::before {
    top: 34px;
    right: calc(100% + 10px);
    border-bottom: 1px solid #78f7a8;
    border-left: 1px solid #78f7a8;
    border-top: none;
    border-right: none;
  }
}
.why-choose-us__card:nth-child(3) .why-choose-us__card-content::before {
  display: none;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(3) .why-choose-us__card-content::before {
    display: block;
    top: 34px;
    left: calc(100% + 10px);
    border-bottom: 1px solid #78f7a8;
    border-right: 1px solid #78f7a8;
    border-top: none;
    border-left: none;
  }
}
.why-choose-us__card:nth-child(4) .why-choose-us__card-content::before {
  bottom: calc(100% + 10px);
  left: 34px;
  border-bottom: none;
  border-left: none;
}
@media (max-width: 768px) {
  .why-choose-us__card:nth-child(4) .why-choose-us__card-content::before {
    top: 34px;
    right: calc(100% + 10px);
    left: auto;
    bottom: auto;
    border-bottom: 1px solid #78f7a8;
    border-left: 1px solid #78f7a8;
    border-top: none;
    border-right: none;
  }
}
.why-choose-us__card-figure {
  margin: 0;
}
.why-choose-us__card-figure-image {
  display: block;
  max-width: 100%;
  width: 160px;
  height: auto;
}
@media (max-width: 768px) {
  .why-choose-us__card-figure-image {
    width: 112px;
  }
}
.why-choose-us__card-title {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #78f7a8;
}
@media (max-width: 768px) {
  .why-choose-us__card-title {
    font-size: 16px;
  }
}
.why-choose-us__card-text {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #f5f5f5;
}
@media (max-width: 768px) {
  .why-choose-us__card-text {
    font-size: 16px;
  }
}

.how-it-works__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
@media (max-width: 1024px) {
  .how-it-works__wrapper {
    gap: 80px 40px;
  }
}
@media (max-width: 768px) {
  .how-it-works__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.how-it-works__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 768px) {
  .how-it-works__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.how-it-works__figure-image {
  display: block;
  max-width: 100%;
  width: 336px;
  height: auto;
}
@media (max-width: 1024px) {
  .how-it-works__figure-image {
    width: 240px;
  }
}
@media (max-width: 768px) {
  .how-it-works__figure-image {
    width: 336px;
  }
}
.how-it-works__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 768px) {
  .how-it-works__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.how-it-works__title {
  margin: 0 0 32px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #f5f5f5;
}
.how-it-works__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.how-it-works__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}
.how-it-works__step-counter {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  .how-it-works__step-counter {
    font-size: 20px;
  }
}
.how-it-works__step-counter-path {
  opacity: 0.3;
}
.how-it-works__step-counter-id {
  opacity: 1;
}
.how-it-works__step-text {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #78f7a8;
}
@media (max-width: 768px) {
  .how-it-works__step-text {
    font-size: 20px;
  }
}

.faq__title {
  margin: 0 0 32px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #f5f5f5;
}
.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.faq__item {
  padding: 0 0 30px;
  border-bottom: 2px dashed rgba(245, 245, 245, 0.1);
}
.faq__item:last-child {
  padding: 0;
  border: none;
}
.faq__item-question {
  margin: 0 0 10px;
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #78f7a8;
}
@media (max-width: 768px) {
  .faq__item-question {
    font-size: 20px;
  }
}
.faq__item-answer {
  padding-left: 40px;
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #f5f5f5;
}
@media (max-width: 768px) {
  .faq__item-answer {
    padding-left: 20px;
    font-size: 20px;
  }
}

.contact-us__title {
  margin: 0;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 79px;
  color: #f5f5f5;
}
@media (max-width: 768px) {
  .contact-us__title {
    font-size: 40px;
  }
}
.contact-us__email-link {
  font-weight: 400;
  font-size: 79px;
  color: #78f7a8;
}
@media (max-width: 768px) {
  .contact-us__email-link {
    font-size: 40px;
  }
}

.footer {
  padding: 0 0 80px;
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer__copyright, .footer__info {
  font-family: "Suisse Int'l Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  opacity: 0.3;
}
@media (max-width: 768px) {
  .footer__copyright, .footer__info {
    font-size: 20px;
  }
}
.footer__info {
  margin-top: 20px;
}