@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@font-face {
  font-family: "Suisse Int'l Mono";
  src: url('../fonts/suisse-intl-mono.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 16px;
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #101112;

  &.hidden {
    @include tablet {
      overflow: hidden;
    }
  }
}

a,
button,
input,
textarea {
  font-family: 'Geist', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
